<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container-fluid">
  <div class="jumbotron col-sm-4 p-2 m-0 bg-inverse">
    <h3 class="text-center">Arithmatic Expression Calculator</h3>

    Arithmatic Expression
    <div class="input-group input-group-sm col-sm-12 m-0 p-0">
      <input
        class="col-sm-12 form-control text-lg-right"
        type="text"
        [(ngModel)]="input"
      />
    </div>

    Result
    <div class="input-group input-group-sm col-sm-12 m-0 p-0">
      <input
        class="form-control text-sm-right"
        type="text"
        [(ngModel)]="result"
        [value]="result"
        disabled
      />
    </div>

    <div class="col-sm-12 p-1 m-0">
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="allClear()"
      >
        C
      </button>
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="clear()"
      >
        ←
      </button>
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="setMemory()"
      >
        M+
      </button>
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="getMemory()"
      >
        M
      </button>
    </div>

    <div class="col-sm-12 p-1 m-0">
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="getResult()"
      >
        =
      </button>
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="pressNum('(')" 
      >
        (
      </button>
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="pressNum(')')"
      >
        )
      </button>
      <button
        class="btn btn-lg btn-secondary col-sm-3 p-1"
        type="button"
        (click)="pressOperator('/')"
      >
        /
      </button>
    </div>

    <div class="col-sm-12 p-1 m-0">
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="pressNum('7')"
      >
        7
      </button>
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="pressNum('8')"
      >
        8
      </button>
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="pressNum('9')"
      >
        9
      </button>
      <button
        class="btn btn-lg btn-secondary col-sm-3 p-1"
        type="button"
        (click)="pressOperator('*')"
      >
        X
      </button>
    </div>
    <div class="col-sm-12 p-1 m-0">
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="pressNum('4')"
      >
        4
      </button>
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="pressNum('5')"
      >
        5
      </button>
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="pressNum('6')"
      >
        6
      </button>
      <button
        class="btn btn-lg btn-secondary col-sm-3 p-1"
        type="button"
        (click)="pressOperator('-')"
      >
        -
      </button>
    </div>
    <div class="col-sm-12 p-1 m-0">
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="pressNum('1')"
      >
        1
      </button>
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="pressNum('2')"
      >
        2
      </button>
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="pressNum('3')"
      >
        3
      </button>
      <button
        class="btn btn-lg btn-secondary col-sm-3 p-1"
        type="button"
        (click)="pressOperator('+')"
      >
        +
      </button>
    </div>
    <div class="col-sm-12 p-1 m-0">
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="pressNum('.')"
      >
        .
      </button>
      <button
        class="btn btn-lg btn-outline-secondary col-sm-3 p-1"
        type="button"
        (click)="pressNum('0')"
      >
        0
      </button>
    </div>
  </div>

  <div class="overlay" *ngIf="popup">
    <div class="popup">
      <h4>History</h4>
      <a class="close" (click)="popup = false">&times;</a>
      <div class="content">
        <table class="table">
          <thead>
            <tr>
              <th>Expression</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataMem">
              <td>{{ item.Expression }}</td>
              <td>{{ item.Result }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <router-outlet />
</div>
